.formulario{
    display: flex;
    margin: 0;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: 'Fira Sans', sans-serif;
    .form{
        padding-left: 300px;
        display: flex;
        flex-direction: row;
        width: 400px;
        margin-top: 30px;
        .nombre{
            font-size: 20px;
        }
        .nombre1{
            width: 200px;
        }
        .email{
            font-size: 20px;
        }
        .email1{
            width: 200px;
        }
        .consulta{
            font-size: 30px;
        }
        .consulta-1{
            width: 300px;
            height: 150px;
        }
        .boton{
            background-color: black;
            color: #ffff;
            font-family: 'Fira Sans', sans-serif;
            font-size: 30px;
        }
        .mapa{
            margin-left: 200px;
            border: 1px solid black;
        }
    }
}